@font-face {
    font-family: "PoltoraMoment";
    src: 
    url(../shrifts/RussoOne-Regular.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "shrift1";
    src: 
    url(../shrifts/OpenSans-Medium.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "shrift2";
    src: 
    url(../shrifts/Unbounded-SemiBold.woff) format("woff");
    font-display: swap;
    font-weight: 600;
}

